<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Kalem</string>
	<key>CFBundleDisplayName</key>
	<string>Kalem</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.getkalem.Kalem</string>
	<key>CFBundleExecutable</key>
	<string>kalem</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleIconFile</key>
	<string>Kalem</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT OR Apache-2.0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Org document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.github.getkalem.org</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>net.daringfireball.markdown</string>
				<string>public.comma-separated-values-text</string>
				<string>public.tab-separated-values-text</string>
				<string>org.tug.tex</string>
				<string>org.tug.bib</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Picture</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>com.compuserve.gif</string>
				<string>org.webmproject.webp</string>
				<string>com.microsoft.bmp</string>
				<string>public.tiff</string>
				<string>com.microsoft.ico</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Workbook</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
				<string>org.openxmlformats.spreadsheetml.sheet.macroenabled</string>
				<string>com.microsoft.excel.xls</string>
				<string>org.oasis-open.opendocument.spreadsheet</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>io.github.getkalem.org</string>
			<key>UTTypeDescription</key>
			<string>Org document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>org</string>
					<string>org_archive</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.tug.tex</string>
			<key>UTTypeDescription</key>
			<string>LaTeX document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tex</string>
					<string>latex</string>
					<string>ltx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.tug.bib</string>
			<key>UTTypeDescription</key>
			<string>BibTeX bibliography</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bib</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
